[Unit]
Description=Collect the 20 preregistered R7 forward sessions

[Timer]
OnCalendar=Mon..Fri 2026-08-03..28 20:20:00 UTC
OnCalendar=Mon..Fri 2026-08-03..28 20:40:00 UTC
OnCalendar=Mon..Fri 2026-08-03..28 21:00:00 UTC
Persistent=true
RandomizedDelaySec=0
Unit=open-composer-r7-forward-observation.service

[Install]
WantedBy=timers.target
